body {
  background-color: #7cc6fe;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.App {
  background-color: #012090;
  width: 750px;
  min-height: 200px;
  height: min-content;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 19, 140, 0.75);
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

button{
  width: 60%;
  height: 38px;
  display: block;
  margin: 10px 0 0 20px;
  text-align: left;
  font-size: 18px;
  font-weight: 600;
  border-radius: 15px;
  background-color: aqua;
  cursor: pointer;
}

button:hover{
  background-color: darkseagreen;
}

.qus-ans{
  margin-bottom: 25px;
}
.question-text{
  color: rgb(255, 255, 230);
}

.show-score{
  display: flex;
  margin: 70px auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: aliceblue;
  font-size: 25px;
  font-weight: 700;
}

.reset{
  width: 100%;
  height: 34px;
  text-align: center;
  background-color: antiquewhite;
  color: black;
}

@media only screen and (max-width: 1050px){
  .App{
    width: 500px;
  }
}
@media only screen and (max-width: 750px){
  .App{
    width: 270px;
  }
  button{
    height: 50px;
  }
}